*{
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --desktop-background: #4456a7;
  --text-primary: #fff;
}


body{
  line-height: 1;
  // display: none;
  // font-size: 1.4rem;
  position: relative;
  background: var(--desktop-background);
  color: var(--text-primary);
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // padding: 1rem;
  // box-sizing: border-box;
}
html, body, #root {
  min-height: 100%;
  height: 100%;
}